.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1,
h2 {
  font-family: "Rowdies", cursive;
  margin: 0;
  padding: 0;
}
h1 {
  color: #fe3b1f;
}

/* -- General page styling -- */

.page-container {
  display: flex;
}

.page-left,
.page-right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-left {
  width: 50%;
}

.page-right {
  width: 50%;
  height: 100vh;
  background: radial-gradient(50% 50% at 50% 50%, #0c0d0e 0%, #151718 73.44%);
  color: white;
}

.page-right p {
  width: 705px;
  height: 606px;
}

.page-title {
  width: 716px;
  height: 94px;
  margin-top: 112px;
  font-size: 64px;
}

.inputs-container{
  margin-top: 131px;
}

.form-input input{
  width: 455px;
height: 54px;
padding-left: 57px;
font-family: 'Montserrat';
margin-bottom: 37px;
}

/* -- Landing -- */

.landing-page {
  font-family: "Montserrat";
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;

  align-items: center;

  background: black url("../public/stars.png");
  background-size: contain;
}

.landing-title {
  font-size: 96px;
  height: 212px;
  padding-top: 175px;
  display: flex;
  align-items: center;
}

.submit-button {
  width: 395px;
  height: 79px;
  margin-top: 105px;
  background: #fe3b1f;
  border-radius: 50px;
  color: white;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.submitted-apps {
  margin-top: 18px;
  border: none;
  color: white;
  background: none;
  height: 66px;
  font-size: 24px;
  cursor: pointer;
  text-decoration-line: underline;
}

/* -- Navigation -- */

.pagination {
  display: flex;
}

/* -- Field -- */

.error-message,
.mismatch-message,
.input-error,
.language-error {
  color: red;
  font-size: 15px;
  display: none;
}

.error-message[visible="true"] {
  display: block;
}

.mismatch-message[mismatched="true"] {
  display: block;
}

input:invalid[focused="true"] ~ .error-message {
  display: block;
}

input:invalid[focused="true"],
input[focused="true"][empty="true"] {
  border: 1px solid red;
}

.year-input[focused="true"] ~ .input-error[empty="true"],
.input-error[mismatched="true"] {
  display: block;
  border: red;
}

.skills-menu[focused="true"] ~ span[visible="true"] {
  display: block;
}

.skill-box {
  display: flex;
}
