.App {
  text-align: center;
}

body{
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  font-family: "Rowdies", cursive;
  margin: 0;
  padding: 0;
}
h1 {
  color: #fe3b1f;
}

/* -- General page styling -- */


.page-container {
  display: flex;
  min-height: 1080px;
  height: auto;
  box-sizing: border-box;
}

.page-left,
.page-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.page-left {
  width: 50%;

}

.page-right {

  width: 50%;
  background: radial-gradient(50% 50% at 50% 50%, #0c0d0e 0%, #151718 73.44%);
  color: white;
}

.page-right p {
  width: 705px;
  height: 606px;
  font-size: 24px;
  line-height: 48px;
}

.page-title {
  width: 716px;
  height: auto;
  margin: 112px 0 120px 0;
  font-size: 64px;
  line-height: 80px;
  text-align: center;
}

.form-input {
  margin-bottom: 37px;
}

.form-input input,
.skill-form input,
.skills-menu,
.date-container input {
  width: 455px;
  height: 54px;
  box-sizing: border-box;
  background: none;
  border: 1px solid #525557;
  padding-left: 57px;
  font-family: "Montserrat";
  font-style: italic;
  font-size: 14px;
  color: #454545;
}

.mismatch-message,
.input-error,
.error-message {
  text-align: right;
}

/* -- Landing -- */

.landing-page {
  font-family: "Montserrat";
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;

  align-items: center;

  background: black url("../public/stars.png");
  background-size: contain;
}

.landing-title {
  font-size: 96px;
  height: 212px;
  padding-top: 175px;
  display: flex;
  align-items: center;
}

.submit-button {
  width: 395px;
  height: 79px;
  margin-top: 105px;
  background: #fe3b1f;
  border-radius: 50px;
  color: white;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.submitted-apps {
  margin-top: 18px;
  border: none;
  color: white;
  background: none;
  height: 66px;
  font-size: 24px;
  cursor: pointer;
  text-decoration-line: underline;
}

/* -- Navigation -- */

.pagination {
  display: flex;
  justify-content: space-between;
  margin: 150px 0 150px 0;
  width: 230px;
  
}

.page-completed,
.page-not-completed {
  width: 19px;
  height: 19px;
  border: none;
  background-color: #fe3b1f;
  border-radius: 50%;
  cursor: pointer;
}

.page-not-completed {
  opacity: 0.1;
}

.next-page,
.prev-page {
  width: 19px;
  height: 19px;
  border: none;
  cursor: pointer;
  padding: 0;
}

.next-page {
  background: url("../public/Next.png");
  background-position: center;
  background-size: contain;
}

.prev-page {
  background: url("../public/Previous.png");
  background-position: center;
  background-size: contain;
}

/* -- Field -- */

.error-message,
.mismatch-message,
.input-error,
.language-error {
  color: red;
  font-size: 15px;
  display: none;
}

.error-message[visible="true"] {
  width: 455px;
  display: block;
}

.mismatch-message[mismatched="true"] {
  display: block;
}

input:invalid[focused="true"] ~ .error-message {
  display: block;
}

input:invalid[focused="true"],
input[focused="true"][empty="true"] {
  border: 1px solid red;
}

.year-input[focused="true"] ~ .input-error[empty="true"],
.input-error[mismatched="true"] {
  display: block;
  border: red;
}

.skills-menu[focused="true"] ~ span[visible="true"] {
  display: block;
}

/* -- Dropdown -- */

.skill-form {
  width: 455px;
  display: flex;
  flex-direction: column;
}

.year-input {
  margin-top: 31px;
}

.skill-form input[type="submit"] {
  margin-top: 30px;
  width: 200px;
  height: 32px;
  background: #fe3b1f;
  color: white;
  border: none;
  font-size: 12px;
  font-style: normal;
  text-align: center;
  padding: 0;
  align-self: flex-end;
  cursor: pointer;
}

.skill-form .skills-menu option {
  font-family: "Montserrat";
  font-style: normal;
  margin: 40px;
  background: white;
  color: #fff;
}

/* -- Skills -- */

.skill-box {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  margin-top: 17px;
  width: 455px;
  height: 48px;
  border: 1px solid #525557;
  align-content: center;
  box-sizing: border-box;
  font-style: italic;
}

.skill-name {
  padding-left: 20px;
}

.skill-exp {
  padding-left: 30px;
}

.skill-remove {
  background: url("../public/Remove.png") no-repeat right;
  border: none;
  margin-right: 12px;
  cursor: pointer;
}

.skills-container {
  margin: 50px 0 50px 0;
}

/* -- Radio -- */

.radio-container,
.date-container {
  margin-bottom: 55px;
  width: 645px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  font-family: "Montserrat";
}

h2 {
  font: normal 18px "Montserrat";
}

.radio-line {
  margin-top: 17px;

}

.radio-line label {
  margin-left: 7px;
}

/* -- Textfield -- */

textarea{
  width: 535px;
  min-height:122px;
  resize: none;
}

.textfield-container{
  width: 645px;
  display: flex;
  flex-direction: column;
  margin-top: 45px;

}

.textfield-container .error-message{
  width: 535px;
}

@media (min-width: 1080px){
  .global-div{
    height: auto;
  }
}