.html{
  height: 100%;
}

.App {
  text-align: center;
}

body {
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  font-family: "Rowdies", cursive;
  margin: 0;
  padding: 0;
}
h1 {
  color: #fe3b1f;
}

/* -- General page styling -- */

.page-container {
  display: flex;
  height: 100%;
  box-sizing: border-box;
}

.page-left,
.page-right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-left {
  width: 50%;
}

.page-right {
  width: 50%;
  box-sizing: border-box;
  background: radial-gradient(50% 50% at 50% 50%, #0c0d0e 0%, #151718 73.44%);
  color: white;
  display: flex;
  align-items: center;
}

.page-right p {
  width: 705px;
  height: 606px;
  font-size: 24px;
  font-family: "Montserrat";
  line-height: 48px;
}

.page-right h1 {
  text-align: left;
}

.page-title {
  width: 716px;
  height: auto;
  margin: 112px 0 120px 0;
  font-size: 64px;
  line-height: 80px;
}

.page-right h1 {
  text-align: center;
}

.form-input {
  margin-bottom: 37px;
}

.form-input input,
.year-input,
.skills-menu,
.date-container input {
  width: 455px;
  height: 54px;
  box-sizing: border-box;
  background: none;
  border: 1px solid #525557;
  padding-left: 57px;
  font-family: "Montserrat";
  font-style: italic;
  font-size: 14px;
  color: #454545;
}

.mismatch-message,
.input-error,
.error-message {
  text-align: right;
}

/* -- Landing -- */

.landing-page {
  font-family: "Montserrat";
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: black url("../public/stars.png");
  background-size: contain;
}

.large-title {
  font-size: 96px;
  height: 212px;
  display: flex;
  align-items: center;
}

.submit-button {
  width: 395px;
  height: 120px;
  background: #fe3b1f;
  border-radius: 50px;
  color: white;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.submit-button:focus {
  background: #fc644d;
  cursor: default;
}

.astro {
  height: auto;
}

.underline-button {
  margin-top: 18px;
  border: none;
  color: white;
  background: none;
  height: 66px;
  font-size: 24px;
  cursor: pointer;
  text-decoration-line: underline;
}

/* -- Navigation -- */

.pagination {
  display: flex;
  justify-content: space-between;
  margin: 150px 0 150px 0;
  width: 230px;
}

.page-completed,
.page-not-completed {
  width: 19px;
  height: 19px;
  border: none;
  background-color: #fe3b1f;
  border-radius: 50%;
  cursor: pointer;
}

.page-not-completed {
  opacity: 0.1;
}

.next-page,
.prev-page {
  width: 19px;
  height: 19px;
  border: none;
  cursor: pointer;
  padding: 0;
}

.next-page {
  background: url("../public/Next.svg");
  background-position: center;
  background-size: contain;
}

.prev-page {
  background: url("../public/Previous.svg");
  background-position: center;
  background-size: contain;
}

/* -- Field -- */

.error-message,
.mismatch-message,
.input-error,
.language-error {
  color: red;
  font-size: 15px;
  display: none;
}

.error-message[visible="true"] {
  width: 455px;
  display: block;
}

.mismatch-message[mismatched="true"] {
  display: block;
}

input:invalid[focused="true"] ~ .error-message {
  display: block;
}

input:invalid[focused="true"],
input[focused="true"][empty="true"] {
  border: 1px solid red;
}

.year-input[focused="true"] ~ .input-error[empty="true"],
.input-error[mismatched="true"] {
  display: block;
  border: red;
}

.skills-menu[focused="true"] ~ span[visible="true"] {
  display: block;
}

/* -- Dropdown -- */

.skill-form {
  width: 455px;
  display: flex;
  flex-direction: column;
}

.year-input {
  margin-top: 31px;
}

.skill-form input[type="submit"] {
  margin-top: 30px;
  width: 200px;
  height: 32px;
  background: #fe3b1f;
  color: white;
  border: none;
  font-size: 12px;
  font-style: normal;
  text-align: center;
  padding: 0;
  align-self: flex-end;
  cursor: pointer;
}

.skill-form .skills-menu option {
  font-family: "Montserrat";
  font-style: normal;
  margin: 40px;
  background: white;
  color: #fff;
}

/* -- Skills -- */

.skill-box {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  margin-top: 17px;
  width: 455px;
  height: 48px;
  border: 1px solid #525557;
  align-content: center;
  box-sizing: border-box;
  font-style: italic;
}

.skill-name {
  padding-left: 20px;
}

.skill-exp {
  padding-left: 30px;
}

.skill-remove {
  background: url("../public/Remove.png") no-repeat right;
  border: none;
  margin-right: 12px;
  cursor: pointer;
}

.skills-container {
  margin: 50px 0 50px 0;
}

/* -- Radio -- */

.radio-container,
.date-container {
  margin-bottom: 55px;
  width: 645px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  font-family: "Montserrat";
}

h2 {
  font: normal 18px "Montserrat";
}

.radio-line {
  margin-top: 17px;
}

.radio-line label {
  margin-left: 7px;
}

/* -- Textfield -- */

textarea {
  width: 535px;
  min-height: 122px;
  resize: none;
}

.textfield-container {
  width: 645px;
  display: flex;
  flex-direction: column;
  margin-top: 45px;
}

.textfield-container .error-message {
  width: 535px;
}

/* -- Submit page -- */

.submit-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: radial-gradient(50% 50% at 50% 50%, #0c0d0e 0%, #151718 73.44%);
}

.submit-page .submit-button {
  font-size: 36px;
  font-family: "Montserrat";
}

.submit-page .underline-button {
  font-size: 28px;
  font-style: normal;
  line-height: 34px;
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration-line: underline;
  font-weight: normal;
}

/* -- Submitted entries-- */

.submitted-entries {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: radial-gradient(50% 50% at 50% 50%, #0c0d0e 0%, #151718 73.44%);
  align-items: center;
}

.title-white {
  margin-top: 100px;
  color: white;
  width: 1130px;
  height: 100px;
  font-size: 56px;
  letter-spacing: 0.11em;
}

/* -- Application -- */

.app-untoggled,
.app-toggled-header {
  width: 1150px;
  height: 50px;
  padding: 10px 20px;
  box-sizing: border-box;
  background: #fe3b1f;
  color: white;
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.app-toggled-header {
  margin-top: 20px;
  margin-bottom: 0;
}

.app-vector {
  background: url("../public/Vector.svg");
  background-position: center;
  background-size: contain;
  height: 8px;
  width: 12px;
}

.app-toggled-header .app-vector {
  background: url("../public/Vector_up.svg");
}

.app-sheet {
  box-sizing: border-box;
  width: 1150px;
  height: 1542px;
  border: 1px solid #fe3b1f;
  background-color: white;
  margin-bottom: 10px;
  display: flex;
}

.app-col {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  padding: 30px;
}

.app-title-u {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #fe3b1f;
  margin-bottom: 50px;
}

.app-title {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 20px;
}

.app-info-card {
  width: 350px;
  margin-bottom: 60px;
}

.key-value {
  margin-top: 20px;
  display: flex;
}

.key {
  width: 35%;
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}

.value {
  width: 65%;
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}

.radio-full,
.radio-empty {
  width: 13px;
  height: 13px;
  margin-right: 10px;
}

.radio-full {
  background: url("../public/button-full.svg");
  background-size: contain;
  background-position: center;
}

.radio-empty {
  background: url("../public/button-empty.svg");
  background-size: contain;
  background-position: center;
}

.date-info-container {
  width: 350px;
  height: 50px;
  box-sizing: border-box;
  padding: 10px 30px;
  border: 1px solid black;
}

.text-info-container {
  width: 447px;
  height: 122px;
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid black;
}

@media (min-width: 1080px) {
  .global-div {
    height: auto;
  }
}

/* MOBILE */

@media (max-width: 480px) {
  .large-title {
    font-size: 35px;
    height: auto;
  }

  .page-container {
    flex-direction: column;
    align-items: center;
    height: 100%;
  }

  .page-title {
    font-size: 30px;
    width: 300px;
    line-height: 25px;
    text-align: left;
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
  }

  .submit-button {
    width: 70%;
    font-size: 20px;
    height: 60px;
    margin-top: 50px;
  }

  .page-left,
  .page-right {
    height: 100%;
    width: 100%;
  }

  .page-left {
    justify-content: space-evenly;
    height: auto;
  }

  .pagination {
    margin: 50px 0;
  }

  .inputs-container {
    width: 80%;
  }

  .error-message[visible="true"] {
    width: 100%;
  }

  .form-input {
    width: 100%;
    margin-bottom: 15px;
  }
  .form-input input {
    width: 100%;
  }

  .page-right p {
    font-size: 16px;
    width: 80%;
    height: 30%;
    line-height: 25px;
    margin-bottom: 100px;
  }

  .landing-page {
    justify-content: center;
    gap: 50px;
  }

  .skills-container {
    width: 80%;
    margin-top: 20px;
  }

  .skill-box {
    width: 100%;
  }

  .skill-form {
    width: 80%;
  }

  .skills-menu,
  .year-input {
    padding-left: 20px;
    width: 100%;
  }

  .skill-form input[type="submit"] {
    width: 100%;
    height: 54px;
  }

  .radio-container,
  .textfield-container {
    width: 80%;
    margin-top: 40px;
    margin-bottom: 0;
  }

  .textfield-container textarea {
    width: 100%;
  }

  .radio-container h2 {
    margin-bottom: 10px;
  }

  .radio-line {
    margin-top: 10px;
  }

  .date-container {
    width: 80%;
    margin: 20px 0;
  }

  .date-container input {
    width: 100%;
  }

  textarea[name="something_special"] {
    width: 100%;
  }

  .large-title {
    text-align: center;
  }
}

/* IPADS, TABLETS */

@media (min-width: 481px) and (max-width: 768px) {
  .large-title {
    font-size: 40px;
    height: auto;
  }

  .astro {
    margin-top: 50px;
  }

  .page-container {
    flex-direction: column;
    align-items: center;
    height: 100%;
  }

  .page-title {
    font-size: 35px;
    min-width: 400px;
    width: 90%;
    line-height: 25px;
    margin-top: 50px;
    margin-bottom: 40px;
    text-align: center;
  }

  .inputs-container {
    margin-top: 50px;
    min-width: 340px;
    width: 60%;
  }

  .submit-button {
    min-width: 320px;
    width: 50%;
    font-size: 20px;
    height: 80px;
    margin-top: 50px;
  }

  .page-left {
    height: 100%;
    width: 100%;
    align-items: center;
  }

  .page-right {
    min-height: 100%;
    height: 60vh;
    width: 100%;
  }

  .page-left {
    justify-content: space-evenly;
    height: auto;
  }

  .pagination {
    margin: 50px 0;
  }

  .error-message[visible="true"] {
    width: 100%;
  }

  .form-input {
    width: 100%;
    margin-bottom: 15px;
  }
  .form-input input {
    width: 100%;
  }

  .page-right p {
    font-size: 18px;
    line-height: 35px;
    width: 80%;
    height: 30%;
    margin-bottom: 100px;
  }

  .landing-page {
    justify-content: center;
    gap: 50px;
  }

  .skills-container {
    width: 80%;
    margin-top: 20px;
  }

  .skill-box {
    width: 100%;
  }

  .skill-form {
    min-width: 360px;
    width: 60%;
    margin-top: 30px;
  }

  .skills-menu,
  .year-input {
    padding-left: 20px;
    width: 100%;
  }

  .skill-form input[type="submit"] {
    width: 100%;
    height: 54px;
    font-size: 15px;
  }

  .radio-container, .pagination{
    width: 280px;
  }

  .pagination{
    justify-content: space-between;
  }

  .textfield-container {
    min-width: 380px;
    width: 60%;
    margin-top: 20px;
    margin-bottom: 0;
  }

  .textfield-container textarea {
    width: 100%;
  }

  .radio-container h2 {
    margin-bottom: 10px;
  }

  .radio-line {
    margin-top: 10px;
  }

  .date-container {
    width: 80%;
    margin: 20px 0;
  }

  .date-container input {
    width: 100%;
  }

  textarea[name="something_special"] {
    width: 100%;
  }

  .large-title {
    text-align: center;
  }
}


/* IPADS, TABLETS */

@media (min-width: 481px) and (max-width: 768px) {
  .large-title {
    font-size: 40px;
    height: auto;
  }

  .astro {
    margin-top: 50px;
  }

  .page-container {
    flex-direction: column;
    align-items: center;
    height: 100%;
  }

  .page-title {
    font-size: 35px;
    min-width: 400px;
    width: 90%;
    line-height: 25px;
    margin-top: 50px;
    margin-bottom: 40px;
    text-align: center;
  }

  .inputs-container {
    margin-top: 50px;
    min-width: 340px;
    width: 60%;
  }

  .submit-button {
    min-width: 320px;
    width: 50%;
    font-size: 20px;
    height: 80px;
    margin-top: 50px;
  }

  .page-left {
    height: 100%;
    width: 100%;
    align-items: center;
  }

  .page-right {
    min-height: 100%;
    height: 60vh;
    width: 100%;
  }

  .page-left {
    justify-content: space-evenly;
    height: auto;
  }

  .pagination {
    margin: 50px 0;
  }

  .error-message[visible="true"] {
    width: 100%;
  }

  .form-input {
    width: 100%;
    margin-bottom: 15px;
  }
  .form-input input {
    width: 100%;
  }

  .page-right p {
    font-size: 18px;
    line-height: 35px;
    width: 80%;
    height: 30%;
    margin-bottom: 100px;
  }

  .landing-page {
    justify-content: center;
    gap: 50px;
  }

  .skills-container {
    width: 80%;
    margin-top: 20px;
  }

  .skill-box {
    width: 100%;
  }

  .skill-form {
    min-width: 360px;
    width: 60%;
    margin-top: 30px;
  }

  .skills-menu,
  .year-input {
    padding-left: 20px;
    width: 100%;
  }

  .skill-form input[type="submit"] {
    width: 100%;
    height: 54px;
    font-size: 15px;
  }

  .radio-container, .pagination{
    width: 280px;
  }

  .pagination{
    justify-content: space-between;
  }

  .textfield-container {
    min-width: 380px;
    width: 60%;
    margin-top: 20px;
    margin-bottom: 0;
  }

  .textfield-container textarea {
    width: 100%;
  }

  .radio-container h2 {
    margin-bottom: 10px;
  }

  .radio-line {
    margin-top: 10px;
  }

  .date-container {
    width: 80%;
    margin: 20px 0;
  }

  .date-container input {
    width: 100%;
  }

  textarea[name="something_special"] {
    width: 100%;
  }

  .large-title {
    text-align: center;
  }
}
